body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFFFFF;
  height: auto;
  overflow-x: hidden;
}

* {
  font-size: 18px;
  line-height: 25px;
  box-sizing: border-box;
}

